
$color-orange : #E77259;
$color-dark : #353535;
$color-light : #969696;
$color-bright : #F0EFEF;

$color-body-bg: #353535;


$navbar-default-bg: $color-orange;
$navbar-default-brand-color: white;
$navbar-default-link-color : white;