@import "_icons.scss";
@import "_variables.scss";
@import "_profile.scss";
@import "_button.scss";
@import "vendor/bootstrap/_bootstrap.scss";
@import "_util.scss";
@import "vendor/hint/hint.scss";

body {
	&.single-viewport {
		overflow: hidden;
		height: 100%;
	}
	font: 14px Futura, 'Trebuchet MS', Arial, sans-serif;
	text-shadow: none !important;
}

a {
  color: $color-dark;
}

.site-container {
	margin-top: 50px;
}

[class^="icon-"], [class*=" icon-"] {
    margin-right: 3px;
}

.mastfoot {
    text-align: center; 
}

h2.section-header {
    font-size: 16px;
    color: $color-dark;
    border-bottom: 1px solid $color-dark;
    padding-bottom: 6px;
}

.cover-bg {
	height: 100%;
	width: 100%;
	z-index: -1;
	position:absolute;
	img {
		height: 100%;
	}
}

.hero-msg {
	text-align: center;
	text-shadow: 2px 0px 15px #000;
	margin-top: 210px;
	color: #FFF;
	text-transform: uppercase;
}

body > .container {
  padding-top: 40px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  .author {
	  text-align: center;	
		margin: 10px 0;
  }
}

.navbar-brand {
	padding: 4px;
}


@import "search/_search.scss";
@import "search/_results.scss";
