@import "variables.scss";

.search-results {
	.results-info {
		display: none;
	}
	&.has-results {
		.results-info {
			display: block;
			border-bottom: 1px solid $color-dark;
			margin: 15px 0;
		}
	}
	.search-results-list {
		padding: 0;
		li {
			list-style: none;
			margin-bottom: 20px;
		}
	}
}

@import "search/_result-item.scss"