@import "variables";

$start-state-top: 400px;


.search-component {
	position: relative;

	&.start-state {
		top: $start-state-top;
	}

    &.animated-growth {
        -webkit-animation: animate-to-top 0.4s ease-in-out;
        -webkit-animation-fill-mode: forwards;  
    }

	.search-bg {
		background-color: black;
		opacity : 0.5; 
		position: absolute;
		right: 0;
		top: 0;
		left: 0;
		bottom: 0;
	}

	.icon-search {
		position: absolute;
		top: 7px;
		left: 14px;
	}
	.search-box-wrap {
		margin: 10px auto;
		width : 50%;
		font-size: 25px;
		position: relative;
		color:$color-dark;
		padding: 16px 0px;
	}
	.search-box-inner {
		position :relative;
	}
	.search-box {
		width: 100%;
		padding-left: 49px;
		border-radius: 18px;
	}
	.no-results {
		font-size: 25px;			
		padding: 50px;
		text-align: center;
	}
}

@-webkit-keyframes animate-to-top {
    0% { top: $start-state-top;}
    100% {  
    /*translate3d: none; */
    top:0; }
}